<h1>Welcome to RetFlix!</h1>

<h2>See our collection of movies below:</h2>

<p>
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
</p>

<!-- loop over all moveies -->

<% @movies.each do |movie| %>
	<section>
		<h3><%= link_to movie.title, movie %></h3>
		<p>
			<%= movie.year_released %>
		</p>
		<p>
			<%= movie.description %>
		</p>
		<p>
			===========================================
		</p>
	</section>
<% end %>